<?xml version="1.0"?>
<model>
  <name>3DR Iris with depth camera</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_d435.sdf</sdf>

  <author>
   <name>Shengyang Chen</name>
   <email>chensy1991@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a single forward facing d435 camera.
    The original model has been created by Thomas Gubler and Lorenz Meier.
  </description>
</model>
